.keyframe_editor_box
{
    border: 1px solid gainsboro;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-sizing: border-box;

    background-color: burlywood;
    flex-grow:1;

    height:1000px;
}

.keyframe_editor_title
{
    position:sticky;
    text-align: center;
    background-color: gainsboro;
}

.keyframe_tools
{
}