.black_background
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 1.0;
    background-color: black;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;

}

.container
{
    position:fixed;
    opacity: 1;
    background-color: white;
    width:50%;
    height:50%;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: space-between;
    
}