.list_title
{
    font-size: 1.2rem;

    min-width:150px;
    
    text-align: center;
    background-color: gainsboro;

    position:sticky;
}

.list_view{
   margin:0px;
   height:600px;
   min-width:200px;
   max-width:200px;
   display:flex;
   flex-direction: column;
   justify-content: space-between;

   background-color:bisque;
}

.sounds
{
  height:550px;
  overflow-y:scroll;
  background-color: aquamarine;

}

.modal_btn_box
{
  display:flex;
  flex-wrap: nowrap;
  flex-direction: row;

  align-items: center;
}

.btn
{
  border-color: lightpink;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.btn:hover
{
  background-color: floralwhite;
}

.name_text_area
{
  width:50%;
}