

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.toolbox
{
	grid-area:'toolbox';
}

.canvas
{
	grid-area: 'canvas';
}

main
{
	margin:0;
	padding:0;
	min-height: 600px;
	display:flex;



}



footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	margin:0;
	text-align: left;
}